<!doctype html>
<html>
  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="migrateLicenses">
    <h1>Hello Plunker!</h1>
    <div ng-controller="SearchController">
      <!--100 * 25 = {{ 100 * 25 }}-->
      <div class="jumbotron">
        <div class="container-fluid">
          <div class="col-xs-offset-2 col-xs-8">
            <div id="navigation">
              <!--navigation would appear here-->
            </div>
            <div id="top">
              <div ng-show="error" class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{error}}
              </div>
              searchCustomer : {{searchCustomer}}
              <form name="search" ng-submit="searchLicenses()" role="form">
                <div class="form-group">
                  <label for="searchText">Search</label>
                  <i class="fa fa-key"></i>
                  <input type="search" name="searchText" placeholder="DfE or Post code or Name" class="form-control" ng-model="searchCustomer" />
                </div>
                <div class="form-actions">
                  <input type="submit" value="Search" class="btn btn-danger" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="contents" class="container-fluid" ng-show="CRMLicenseList && MISLicenseList">
      here are the conetents of the search results
      <div class="row">
        <div><!-- class="col-xs-6 col-md-6"-->
          Total CRM License - {{CRMLicenses}}
		  <div>
			</div>
          <table class="table table-bordered">
            <tr>
              <th>Customer</th>
              <th>Contract</th>
              <th>Product</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
      			<tr ng-repeat="license in CRMLicenseList">
      				<td>{{license.customer}}</td>
      				<td>{{license.contract}}</td>
      				<td>{{license.product}}</td>
      				<td>{{license.startDate}}</td>
      				<td>{{license.endDate}}</td>
      			</tr>
          </table>
        </div>
        <div class="col-xs-6 col-md-6">
          Total MIS Licenses - {{MISLicenses}}
          <table class="table table-bordered">
            <tr>
              <th>Customer</th>
              <th>Contract</th>
              <th>Product</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
            <tr ng-repeat="license in MISLicenseList">
      				<td>{{license.customer}}</td>
      				<td>{{license.contract}}</td>
      				<td>{{license.product}}</td>
      				<td>{{license.startDate}}</td>
      				<td>{{license.endDate}}</td>
      			</tr>
          </table>
        </div>
      </div>
    </div>
      <div id="footer">
        
      </div>
    </div>
  </body>

</html>
